<div class="row">
  <div class="col-md-2 side-nav">
    <div>
      <h5 class="action-button" style="border: 1px solid white; width: 106%" (click)="addCinema()"> Add Cinema</h5>
    </div>
  </div>
  <div class="col-md-10">
    <div class="wrapper">
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Adresse</th>
              <th scope="col">Telephone</th>
              <th scope="col">Gouvernorat</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cinema of cinemas">
                <td>{{cinema.nom}}</td>
                <td>{{cinema.adresse}}</td>
                <td>{{cinema.telephone}}</td>
                <td>{{cinema.gouvernorat}}</td>
                <td><button class="btn btn-primary" (click)="addShowingDetail(cinema)">Add Showing Details</button>
                <button class="btn btn-success" (click)="updateCinema(cinema)">Update</button>
                <button class="btn btn-danger" (click)="deleteCinema(cinema)">Delete</button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
