<div class="row">
  <div class="col-md-2 side-nav">
    <div>
      <h5 class="action-button" style="border: 1px solid white; width: 106%" (click)="addMovie()">Add Movie</h5>
    </div>
  </div>
  <div class="col-md-10">
    <ngb-alert *ngIf="updated" type="success">Film updated</ngb-alert>
    <ngb-alert *ngIf="deleted" type="danger">Film deleted</ngb-alert>
    <ngb-alert *ngIf="added" type="primary">Film added</ngb-alert>
    <div class="wrapper">
      <div class="card" style="width: 18rem; text-align: center;" *ngFor="let film of films">
        <img class="card-img-top" [src]="film.poster" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">{{film.titre}}</h5>
          <p class="card-text"><strong>Synopsis: </strong>{{film.synopsis}}</p>
          <p><strong>Durée: </strong>{{film.duree}} min</p>
          <p><strong>Date de sortie: </strong>{{film.dateSortie}}</p>
          <button class="btn btn-success" (click)="updateFilm(film)">Update</button>
          <button class="btn btn-danger" (click)="deleteFilm(film)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
