<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Delete movie</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Are you sure you want to delete {{film.titre}} ?
</div>
<div class="modal-footer">
  <button  class="btn btn-danger" (click)="delete()">Delete</button>
  <button  class="btn btn-primary" (click)="dismiss()">Cancel</button>
</div>
